#username{:style => "visibility:hidden; height: 0px;"}
%h1{:style => "margin-bottom: 1px;"} 
 = gravatar_image_tag(@user.email, :style => "margin-bottom: 0px;", :gravatar =>{ :size =>35,:secure => true})
 #{@user.username.capitalize}'s Profile 
-if user_signed_in? 
 -if current_user.id == @user.id 
  (This is you, <a href="/users/edit" class="nolink">Edit profile</a>)

%hr{:width => "500px"}
%p{:style => "font-size: 20px;"}  User since, #{time_ago_in_words(@user.created_at)}
-if @user.contactme?
 %p Contact Me: <a href="mailto:#{@user.email}">#{@user.email}</a>
%hr{:width => "500px"}
-@projects.each do |project|
 %p{:style => "font-size: 2em;"} <a class="nolink" href="/projects/#{project.slug}">#{project.title}</a>
 %p Project request age: #{time_ago_in_words(project.created_at)}
 %br/
