= form_for @project do |f|
  -if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  %p{:style => "font-size: 10px;"} (* required)
  .field
    %p{:style => "margin-bottom: 1px;"} *Project name:
    = f.text_field :title
  .field
    %p{:style => "margin-bottom: 1px;"} *Project Description:
    = f.text_area :app
  .field
    %p *Please list below what the project needs help with:
    = f.text_area :help
  .field
    = f.hidden_field :requester, :value => "#{current_user.id}"
  .field
    %p{:style => "margin-bottom: 1px;"} Website (optional)
    = f.text_field :site
  .actions
    = f.submit 'Submit Request'
