%p#notice= notice

%p{:style => "color: #323; font-size: 2em; margin-bottom: 1px;"} #{@project.title}
%center
  %p{:style => "width: 500px;"}
    What is #{@project.title}?<br /><br />
    = @project.app
  %br/
  %p
    #{@project.title} needs help with:<br /><br />
    = @project.help
  %br/
-unless @project.site.blank?
  %p{:style => "color: #323; margin-bottom: 1px;"} Website:
  %a{:href => "#{@project.site}", :target => "_blank", :class => "nolink"} 
    =removehttp @project.site
%p
  Help requested by:<br />
  %a{:href => "/profile/#{@requester.slug}", :class => "nolink"} #{@requester.username}
%br/
.button-group
  -if user_signed_in?
    -#if can?
    = link_to 'Edit', edit_project_path(@project), :class => "button"
  -else
  = link_to 'Back', projects_path, :class => "button"
