-#%p#notice= notice
-unless @project.logo.blank?
  %img{:src => "#{@project.logo}", :height => "50px"}
  -if user_signed_in?
    -if current_user.id == @project.requester
      %p{:class => "notice"} Logo Images Coming Soon
%p{:style => "color: #DD4814; font-size: 2em; margin-bottom: 1px;"} #{@project.title}
%center
  %p{:style => "width: 500px;"}
    <span style="color: #888;">What is #{@project.title}?</span><br />
  %pre{:style => "word-wrap: break-word;"}= @project.app
  %br/
  %p{:style => "width: 500px;"}
    <span style="color: #888;">#{@project.title} needs help with:</span><br />
  %pre{:style => "word-wrap: break-word;"}= @project.help
  %br/
-unless @project.site.blank?
  %p{:style => "margin-bottom: 1px;"} <span style="color: #888;">Website:</span>
  %a{:href => "#{@project.site}", :target => "_blank", :class => "nolink"} 
    =removehttp @project.site
%p
  <span style="color: #888;">Help requested by:</span><br />
  %a{:href => "/profile/#{@requester.slug}", :class => "nolink"} #{@requester.username}
%br/
.button-group
  -if user_signed_in?
    -#if can?
    = link_to 'Edit', edit_project_path(@project), :class => "button"
  -else
  = link_to 'Back', projects_path, :class => "button"
